.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/

project.lock.json
project.fragment.lock.json
artifacts/
*.rsuser
*.sln.metaproj
*.sln.metaproj.tmp
*.tmp

*.nupkg
*.snupkg
packages/
nuget.exe
*.nuget

.DS_Store
Thumbs.db